.container
        {
            width: 100%;
           height:544px;
            border: 2px solid black;
            /* Intialize the container as a flex  */
            display: flex;
           flex-direction: row;
           
           /* flex-direction: row-reverse; */
           /* flex-direction: column-reverse;*/

           /* This is the shortend version of the flex-direction: and flex-wrap: ; */
            /* flex-flow: row-reverse wrap; */
            
            flex-wrap: wrap;      
            justify-content: center;
            justify-content: space-between;  
            justify-content: space-evenly;
            justify-content: space-around;


            cursor: pointer;
            align-items:center;
            /* align-items: flex-end;
            align-items: flex-start;
            align-items: stretch; */
            
        }
        .item{
            background-color: rgb(145, 145, 201);
            width: 200px;
            height: 200px;
            border:2px solid black;
            margin:12px;
            padding:3px;
           

        }
        #item-1
        {
            /* order:2; */
        }
        #item-2
        {
            /* flex-grow: 3; */
            /* when flex direction is set to the row  flex_basics  will control width;
            when flex direction is set to the olumn flex_basics is will control height: ; */
        }